/**
 * Wegfindung im Labyrinth
 * =======================
 */

@import url('http://fonts.googleapis.com/css?family=Roboto:300,300italic,700');
@import url('http://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('http://fonts.googleapis.com/css?family=Roboto+Slab:300');

* {
    margin: 0;
    padding: 0;
}

/**
 * Layout
 */

header, main, footer {
    margin: 0 auto;
    padding: 0 2em;
    width: 50em;
}

header {
        background: #304664 url('edge.png') 200px bottom no-repeat;
        padding-top: 5em;
    }
    header h1 {
        color: white;
        text-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

header nav ul {
        list-style: none;
        overflow: hidden;
        font-size: .8em;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    header nav li {
        border-right: .2em solid #3F3C43;
        display: block;
        float: left;
    }
    header nav li a {
        display: block;
        padding: .5em 1em;
        background: rgba(108, 118, 125, .8);
        color: white;
        text-decoration: none;
    }
    header nav li a:hover, header nav li a:focus {
        background: #B90F0C;
        color: white;
    }
    header nav li.current a {
        background: white;
        color: #333;
}

main {
        margin-top: 3em;
    }
    main nav { display: none; }
    main nav code {
        padding: 0;
        background: transparent;
    }
    main nav ol { list-style: none; }
    main nav > ol > li {
        margin-top: 2em;
    }
    main nav > ol > li > a {
        color: black;
        font-size: .8em;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
    }
    main nav ol ol a {
        display: block;
        height: 1.5em;
        overflow: hidden;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap
    }
    main nav ol ol a:hover, main nav ol ol a:focus {
        text-decoration: underline;
    }
    .hastoc main nav {
        display: block;
        width: 13em;
        float: right;
    }
    .hastoc main article {
        margin-right: 15em;
}

footer {
        margin-top: 3em;
        padding-top: 1px;
        padding-bottom: .5em;
        background: #304664;
        color: white;
    }
    footer a, footer a:hover, footer a:focus {
        color: white;
        opacity: .7;
    }
    footer a:hover, footer a:focus {
        opacity: 1;
}

/**
 * Typography
 */

body {
    font: 100%/1.5 Roboto, sans-serif;
    font-weight: 300;
}

pre, code {
    font-family: Consolas, 'Courier New', monospace;
}

h2, h3, h4, h5, h6 {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: normal;
    }
    h1 {
        font-family: 'Roboto Slab', serif;
        font-size: 3em;
        font-weight: 300;
    }
    h2 {
        font-size: 2.2em;
    }
    h3 {
        font-size: 1.7em;
    }
    h2 + h3 {
        margin-top: 0;
    }
    h4, h5 {
        font-family: Roboto, sans-serif;
        font-size: 1em;
        text-transform: uppercase;
        font-weight: bold;
    }
    h5 {
        text-transform: none;
}

h1, h2, h3, h4, h5, h6, ul, ol, pre, blockquote, p {
    margin: 1em 0 .5em;
}

code {
    padding: .01em .2em;
    background: #eee;
}

pre code {
    display: block;
    overflow-x: auto;
    padding: .5em;
}

strong {
    font-size: .8em;
    font-weight: 700;
    text-transform: uppercase;
}

a { color: #B90F0C; }
a:hover, a:focus { color: #333; }

img {
    vertical-align: middle;
    max-width: 100%;
}